<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring11:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring11_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring11" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="com.springsource.org.aspectj.weaver-1.6.8.RELEASE" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="Spring11/web/Web" />
    </root>
  </artifact>
</component>